@using FoodyWebApplication.Helper
@model IEnumerable<ApplicationCore.Models.Product>

@{
    ViewData["Title"] = "Index";
    var loginuser = SessionExtension.GetLoginUser(Context.Session);
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            @if (loginuser == null || loginuser.RoleId != 2)
            {
                <th style="text-align: center;">
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    <img src="/@item.ProductImage" style="width:100px;height:auto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Address)
                </td>

                @{
                    if (loginuser != null)
                    {
                        if (item.IsDeleted)
                        {
                            <td class="text-center">
                                <label><i class="fa-solid fa-trash"></i></label>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        if (loginuser.RoleId == 1 || loginuser.RoleId == 3)
                        {
                            <td></td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <form method="post" asp-controller="Cart" asp-route-id='@item.ProductId' asp-action="AddToCart">
                                    <input type="hidden" name="id" value="@item.ProductId" />
                                    <input type="number" min="1" max="@item.QuantityPerUnit" name="quantity" value="0" />
                                    <button class="btn btn-primary">Add to Cart</button>
                                </form>
                            </td>
                        }
                    }
                }

            </tr>
        }
    </tbody>
    @{

        if (loginuser != null)
        {
            if (loginuser.RoleId == 1 || loginuser.RoleId == 3)
            {
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
            }
        }
    }
</table>
