@model IEnumerable<ApplicationCore.Models.Order>
@using FoodyWebApplication.Helper
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Convert.ToDateTime(item.OrderDate).ToString("dd/MM/yyyy")

                </td>
                <td>
                    @Convert.ToDateTime(item.RequiredDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Convert.ToDateTime(item.ShippedDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.Username)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                @{
                    var loginuser1 = SessionExtension.GetLoginUser(Context.Session);
                    if (loginuser1 != null)
                    {
                        if (loginuser1.RoleId == 1 || loginuser1.RoleId == 3)
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |

                                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                            </td>
                        }
                    }
                }
                <td>

                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
