@page
@model FoodyWebApplication.Models.CartModel
@{
}
@using ApplicationCore.Models
@using Microsoft.AspNetCore.Http
@using FoodyWebApplication.Helper
@inject IHttpContextAccessor context
@{
    CartModel cart = SessionExtension.GetCart(context.HttpContext.Session);
}

<label class="text-danger">@TempData["Message"]</label>
<table class="table">
    <thead>
        <tr>
            <th>
                ProductName
            </th>
            <th>
               QuantityPerUnit
            </th>
            <th>
               UnitPrice
            </th>
            <th>
               ProductImage
            </th>
            <th>
               Category
            </th>
            <th>
                Supplier
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in cart.ProductList)
        {
            <tr>
                <form method="post" asp-controller="Cart" asp-action="UpdateCart">
                <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    <input type="number" name="quantity" min="1" value="@item.QuantityPerUnit" />                    
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    <img src="~/@Url.Content(item.ProductImage)" alt="@Url.Content(item.ProductImage)" />
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                </td>
                <td>
                    <button style="font-size: 16px;" class="btn btn-primary btn-lg active" name="remove" value="@item.ProductId">Remove</button>
                    <button style="font-size: 16px;" class="btn btn-primary btn-lg active"  name="update" value="@item.ProductId">Update</button>
                </td>
                </form>

            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                Total: @cart.Total
                <form method="get" asp-controller="CheckOut" asp-action="Create">
         
        <button class="btn btn-primary btn-lg active" value="Check out"><a class="btn btn-primary btn-lg active" role="button" >Checkout</a></button>
    </form>
            </td>
        </tr>
    </tbody>
    
</table>


